@model Contacts
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Aboba </h1>

<div class="form-contacts">
    <form method="post" asp-asp-controller="Conracts" asp-action="Check">
        <label asp-for="Id"></label>
        <input asp-for="Id" />
        <span asp-validation-for="Id"></span>

        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>

        <label asp-for="Message"></label>
        <input asp-for="Message" />
        <span asp-validation-for="Message"></span>
        <input type="submit" value="отправит"></input>
    </form>
    
    
    <div class="test_table">

    </div>
</div>